@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    
}

.aura{
    color:#ff6161;
}

.intro-animation {
    background-color: rgb(16, 16, 16);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s ease-out;
    z-index: 99 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .intro-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .intro-logo {
    position: relative;
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    bottom: 20px;
    opacity: 0;
    font-weight: 600;
    font-size: 10rem;

  }
  
  .intro-logo.active {
    bottom: 40px;
    opacity: 1;
    transition: 0.5s ease-in-out;
  }
  
  .intro-logo.fade {
    bottom: 40px;
    opacity: 0;
    transition: 0.7s ease-in-out;
  }


.main {
    height: 100vh;
    background-color: #fafafa;
    padding: 0px 120px;
}

.navbar {
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 2rem;
    font-weight: bold;
}
.logo_span{
    color: #ff6161;
}

.nav_others {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_others a {
    text-decoration: none;
    margin: 0px 10px;
    color: #ff6161;
    font-size: 1.2rem;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.tag_line{
    display: grid;
    justify-content: center;
    align-items: center;
}
.tag_line h1{
    font-size: 4rem;
    font-family: "Poppins", sans-serif;
    line-height: 70px;
}

.tag_line p{
    font-size: 25px;
    margin: 10px;
}

.tag_line a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    width: 10rem;
    background-color: #ff6161;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.art img {
    height: 35rem;
}